<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.briup.dao.OrdersMapper" >
  <resultMap id="BaseResultMap" type="com.briup.bean.Orders" >
    <id column="ODR_ID" property="odrId" jdbcType="DECIMAL" />
    <result column="ODR_CUSTOMER" property="odrCustomer" jdbcType="VARCHAR" />
    <result column="ODR_ADDR" property="odrAddr" jdbcType="VARCHAR" />
    <result column="ODR_STATUS" property="odrStatus" jdbcType="CHAR" />
    <result column="ODR_CUST_ID" property="odrCustId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      ODR_ID, ODR_CUSTOMER, ODR_ADDR, ODR_STATUS, ODR_CUST_ID
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.briup.bean.OrdersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ORDERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    ODR_ID,ODR_CUSTOMER,ODR_ADDR,ODR_STATUS,ODR_CUST_ID
    from ORDERS
    where ODR_ID = #{odrId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ORDERS
    where ODR_ID = #{odrId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.briup.bean.OrdersExample" >
    delete from ORDERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.briup.bean.Orders" >
    insert into ORDERS (ODR_ID, ODR_CUSTOMER, ODR_ADDR, 
      ODR_STATUS, ODR_CUST_ID)
    values (#{odrId,jdbcType=DECIMAL}, #{odrCustomer,jdbcType=VARCHAR}, #{odrAddr,jdbcType=VARCHAR}, 
      #{odrStatus,jdbcType=CHAR}, #{odrCustId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.briup.bean.Orders" >
    insert into ORDERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="odrId != null" >
        ODR_ID,
      </if>
      <if test="odrCustomer != null" >
        ODR_CUSTOMER,
      </if>
      <if test="odrAddr != null" >
        ODR_ADDR,
      </if>
      <if test="odrStatus != null" >
        ODR_STATUS,
      </if>
      <if test="odrCustId != null" >
        ODR_CUST_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="odrId != null" >
        #{odrId,jdbcType=DECIMAL},
      </if>
      <if test="odrCustomer != null" >
        #{odrCustomer,jdbcType=VARCHAR},
      </if>
      <if test="odrAddr != null" >
        #{odrAddr,jdbcType=VARCHAR},
      </if>
      <if test="odrStatus != null" >
        #{odrStatus,jdbcType=CHAR},
      </if>
      <if test="odrCustId != null" >
        #{odrCustId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.briup.bean.OrdersExample" resultType="java.lang.Integer" >
    select count(*) from ORDERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ORDERS
    <set >
      <if test="record.odrId != null" >
        ODR_ID = #{record.odrId,jdbcType=DECIMAL},
      </if>
      <if test="record.odrCustomer != null" >
        ODR_CUSTOMER = #{record.odrCustomer,jdbcType=VARCHAR},
      </if>
      <if test="record.odrAddr != null" >
        ODR_ADDR = #{record.odrAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.odrStatus != null" >
        ODR_STATUS = #{record.odrStatus,jdbcType=CHAR},
      </if>
      <if test="record.odrCustId != null" >
        ODR_CUST_ID = #{record.odrCustId,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ORDERS
    set ODR_ID = #{record.odrId,jdbcType=DECIMAL},
      ODR_CUSTOMER = #{record.odrCustomer,jdbcType=VARCHAR},
      ODR_ADDR = #{record.odrAddr,jdbcType=VARCHAR},
      ODR_STATUS = #{record.odrStatus,jdbcType=CHAR},
      ODR_CUST_ID = #{record.odrCustId,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.briup.bean.Orders" >
    update ORDERS
    <set >
      <if test="odrCustomer != null" >
        ODR_CUSTOMER = #{odrCustomer,jdbcType=VARCHAR},
      </if>
      <if test="odrAddr != null" >
        ODR_ADDR = #{odrAddr,jdbcType=VARCHAR},
      </if>
      <if test="odrStatus != null" >
        ODR_STATUS = #{odrStatus,jdbcType=CHAR},
      </if>
      <if test="odrCustId != null" >
        ODR_CUST_ID = #{odrCustId,jdbcType=DECIMAL},
      </if>
    </set>
    where ODR_ID = #{odrId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.briup.bean.Orders" >
    update ORDERS
    set ODR_CUSTOMER = #{odrCustomer,jdbcType=VARCHAR},
      ODR_ADDR = #{odrAddr,jdbcType=VARCHAR},
      ODR_STATUS = #{odrStatus,jdbcType=CHAR},
      ODR_CUST_ID = #{odrCustId,jdbcType=DECIMAL}
    where ODR_ID = #{odrId,jdbcType=DECIMAL}
  </update>
</mapper>